#projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1.5em;
    grid-row-gap: .3em;
    justify-items: stretch;
    align-items: stretch;
    grid-auto-flow: dense;
}

#projects .entry { 
}

.entry.wide {
    grid-column: span 2;
}

.projectThumb {
    padding-bottom: 56.6449%;
    background-color: #ededed;
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: none;
}

.wide .projectThumb {
    padding-bottom: 27.5132%;
}

.title {
    display: flex;
    justify-content: space-between;
    margin-top: .2em;
}

.projectTitle {

}

.projectPlace {
    margin-left: 1em;
}

@keyframes expand {
    from {
        height: 0;
    }

    to {
        height: 31.2vw;
    }
}

#details {
    grid-column: span 3;

    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding: 2em 0;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1.5em;

    overflow: hidden;

    animation-name: expand;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

#detail-slider {
    grid-column: 1 span 2;
    background-color: rgba(#333,.6);
}

#detail-content {
    grid-column: 3;
    background-color: rgba(#333,.3);
}