#projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1.5em;
    grid-row-gap: .3em;
    justify-items: stretch;
    align-items: stretch;
    grid-auto-flow: dense;
}

#projects .entry { 
}

.entry.wide {
    grid-column: span 2;
}

.projectThumb {
    padding-bottom: 56.6449%;
    background-color: #ededed;
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: none;
}

.wide .projectThumb {
    padding-bottom: 27.5132%;
}

.title {
    display: flex;
    justify-content: space-between;
    margin-top: .2em;
}

.projectTitle {

}

.projectPlace {
    margin-left: 1em;
}

@keyframes expand {
    0% {
        height: 0;
    }

    100% {
        height: 31.2vw;
    }
}

@keyframes retract {
    0% {
        height: 31.2vw;
    }

    100% {
        height: 0;
    }
}

#details {
    grid-column: span 3;

    margin-top: 1.5em;
    margin-bottom: 1.5em;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    grid-gap: 1.5em;

    animation-name: expand;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

#details.is-active {
    animation-play-state: running;
}

#details.is-closing {
    animation-name: retract;
}

#detail-slider {
    margin: 2em 0;
    grid-column: span 2;
    background-color: #d2d2d2;
    overflow: hidden;
}

#detail-content {
    margin: 2em 0;
    grid-column: 3;
    background-color: #999999;
    overflow: hidden;
}